body {
    background-image: url("/indmi-art/images/bg.gif") !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center !important;
}

/* Чтобы контент был читаемым на фоне гифки, 
добавим немного прозрачности карточкам */
.profile_inner, .post-entry {
    background: rgba(255, 255, 255, 0.8); /* Светлая тема */
    padding: 20px;
    border-radius: 12px;
}

.dark .profile_inner, .dark .post-entry {
    background: rgba(30, 30, 30, 0.8); /* Темная тема */
}
