{{- define "main" -}}

{{/* ПРОВЕРКА: ГЛАВНАЯ СТРАНИЦА */}}
{{- if .IsHome -}}
    <div class="profile">
        <div class="profile_inner">
            <h1>{{ .Site.Params.profileMode.title | default "Indmi Art" }}</h1>
            <span>{{ .Site.Params.profileMode.subtitle | safeHTML }}</span>
            <div class="social-icons"></div>
            <div class="buttons">
                {{- range .Site.Params.profileMode.buttons }}
                <a class="button" href="{{ .url | relURL }}" rel="noopener" title="{{ .name }}">
                    <span class="button-inner">{{ .name }}</span>
                </a>
                {{- end }}
            </div>
        </div>
    </div>

    <div id="projects-pool" style="display: none;">
        {{- range .Site.RegularPages -}}
            {{- if in .RelPermalink "/posts/" -}}
                {{- $img := "" -}}
                {{- if .Params.cover.image -}}
                    {{- $resource := .Resources.GetMatch .Params.cover.image -}}
                    {{- if $resource -}} {{ $img = $resource.RelPermalink }} {{- end -}}
                {{- end -}}
                <div class="p-item" data-url="{{ .RelPermalink }}" data-title="{{ .Title }}" data-img="{{ $img }}"></div>
            {{- end -}}
        {{- end -}}
    </div>
    <div id="glitch-display" class="random-projects-container"></div>

{{/* ПРОВЕРКА: ВСЕ ОСТАЛЬНЫЕ СПИСКИ (Проекты, Инсталляции и т.д.) */}}
{{- else -}}
    <header class="page-header">
        <h1>{{ .Title }}</h1>
    </header>

    <div class="list-container">
    {{- range .Paginator.Pages -}}
    <article class="post-entry project-card">
        {{- /* ПОИСК ОБЛОЖКИ В PAGE BUNDLE */ -}}
        {{- $cover := "" -}}
        {{- if .Params.cover.image -}}
            {{- $cover = .Resources.GetMatch .Params.cover.image -}}
        {{- end -}}

        {{- if $cover -}}
        <div class="entry-cover">
            <img src="{{ $cover.RelPermalink }}" alt="{{ .Title }}">
        </div>
        {{- else -}}
        {{- /* Заглушка, если обложки нет — чтобы карточки были одной формы */ -}}
        <div class="entry-cover placeholder"></div>
        {{- end -}}

        <header class="entry-header">
            <h2>{{ .Title }}</h2>
        </header>
        <a class="entry-link" href="{{ .RelPermalink }}"></a>
    </article>
    {{- end -}}
    </div>
{{- end -}}



    {{/* Пагинация */}}
    {{- if gt .Paginator.TotalPages 1 }}
    <footer class="page-footer">
        <nav class="pagination">
            {{- if .Paginator.HasPrev }}<a class="prev" href="{{ .Paginator.Prev.URL | relURL }}">« Назад</a>{{- end }}
            {{- if .Paginator.HasNext }}<a class="next" href="{{ .Paginator.Next.URL | relURL }}">Далее »</a>{{- end }}
        </nav>
    </footer>
    {{- end }}
{{- end -}}

{{- end -}}
