{{- define "main" -}}
<header class="page-header">
    <h1>{{ .Title }}</h1>
</header>

{{/* Этот цикл найдет ВСЕ страницы во всех подпапках текущего раздела */}}
{{- $pages := .Pages -}}
{{- if .IsHome -}}
    {{/* Логика для главной... */}}
{{- else -}}
    {{- range $pages -}}
    <article class="post-entry">
        <header class="entry-header">
            <h2>{{ .Title }}</h2>
        </header>
        <a class="entry-link" href="{{ .RelPermalink }}"></a>
    </article>
    {{- end -}}
{{- end -}}
{{- end -}}
