{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}

<!-- Хранилище данных о проектах (скрыто от глаз) -->
<div id="projects-pool" style="display: none;">
    {{ range (where .Site.RegularPages "Section" "posts") }}
        {{ $img := "" }}
        {{ if .Params.cover.image }}
            {{ $resource := .Resources.GetMatch .Params.cover.image }}
            {{ if $resource }}
                {{ $img = $resource.RelPermalink }}
            {{ end }}
        {{ end }}
        <div class="p-item" data-url="{{ .RelPermalink }}" data-title="{{ .Title }}" data-img="{{ $img }}"></div>
    {{ end }}
</div>

<!-- Место, куда скрипт вставит 3 случайных проекта -->
<div id="glitch-display" class="random-projects-container"></div>
